.autocomplete {
    position: relative;

    .dropdown {
        position: absolute;
    	margin-left: 38px;
        z-index: 1000;

    	.list-group-item {
            background-color: rgba(255, 255, 255, 0.85);

            &.active {
                background-color: fade(@brand-primary, 85%);
            }

    		&:first-child {
                border-top-right-radius: 0;
    			border-top-left-radius: 0;
    		}
    	}	

        &.hidden {
            display: none;
        }
    }
}
