header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: @orange;
    z-index: 500;
    h1 {
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: 'Rokkitt', serif;
    }
}