@import "prefixer";
@import "util";
@import "colors";
@import "animations";
@import "../../../node_modules/bootstrap/less/bootstrap.less";
@import "header";
@import "buttons";
@import "autocomplete";
@import "screens/login-screen";
@import "screens/update-screen";
@import "screens/admin-screen";

html {
    .full-height;
}

body {
    background-image: url('/public/images/bg.png');
    background-color: @background-grey;
    .full-height();
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

#app {
    .full-height();    
    .users-list-container {
        display: none;
        .at-sm({
            display: block;
        });
        .make-sm-column(3);
        border-right: 1px solid rgb(230, 230, 230);             
        min-height: 100%;        
        padding-top: 39px;
        background-color: white;
        .media {
            padding: 0;
        }
    }

    .updates-list-container {
        .make-sm-column(9);
        .full-height();
        padding-left: 0;
        padding-right: 0;
        background-color: white;
        padding-bottom: 159px;
        margin-top: 39px;

        .update-scroller {
            .full-height();
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

.form-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;           

    .create-update-form {
        .make-sm-column(9);  
        .make-sm-column-offset(3);      
        .at-md({
            .make-sm-column(6);        
            .make-sm-column-offset(4);
        });

        box-shadow: inset 0px 1px white;
        border-top: 1px solid @grey;                
        padding-top: 20px;
        height: 120px;
        background-color: @grey;

        .btn {
            width: 100%;
        }            
    }
}

.media {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    &.me {
        background-color: @me-blue!important;
        &:nth-child(even) {
            background:  lighten(@me-blue, 20%)!important;
        }
    }
    .twitter {
        @twitter-box-size: 40px;
        width: @twitter-box-size;
        height: @twitter-box-size;
        font-size: 2em;
        margin-top: -4px;
        padding-left: 7px;
    }
    &.user-joined {
        background-color: rgb(188, 255, 204)!important;
        span {
            transform: rotate(-43deg);
            color: @orange;
        }
        p {
            margin: 0;
        }
    }
    &.user-left {
        span {
            transform: rotate(137deg);
            color: @orange;
        }
        p {
            margin: 0;
        }
    }
    .user {
        color: @orange;
        margin-right: 5px;
    }
}


#messages {
    .full-height();
    li {
        &:nth-child(odd) {
            background: rgba(238, 238, 238, 0.43);
        }
        img {
            border-radius: 35px;
            border: 1px solid black;
        }
        h4 {
            margin-top: 0;
            margin-bottom: 0px;
        }
    }
}
